/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  margin-bottom: 0;
}

.less-vh {
  min-height: 50vh;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #5cbfbb;
}

.table100.ver1 td {
  font-weight: 400;
  font-size: 15px;
  color: black;
  line-height: 1.4;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

/* BACKGROUND IMAGE */

#img {
  background: url(../images/bank.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* NAVBAR */
div.nav_home {
  background-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.nav {
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-flex;
  padding: 0 20px;
}

button.contact {
  background-color: transparent;
}
a {
  text-decoration: none;
}
a.nav {
  color: saddlebrown;
  font-size: 20px;
  transition: all 0.23s;
  border-radius: 5px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
a.nav:hover {
  background-color: black;
  color: darksalmon;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 5px;
  transition: all 0.23s;
  transform: scale(1.15);
}

/* NAVBAR FOR OTHER PAGES */

div.nav-all {
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.3rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-flex;
  padding: 0 20px;
}

button.contact {
  background-color: transparent;
}
a.nav-all {
  text-decoration: none;
}
a.nav-all {
  color: darksalmon;
  font-size: 20px;
  transition: all 0.23s;
  border-radius: 5px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
a.nav-all:hover {
  /* background-color: #0c267e; */
  color: beige;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 5px;
  transition: all 0.23s;
  transform: scale(1.15);
}

.nav-links .current {
  background-color: black;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: darksalmon;
}

/* CONTENT */
div.content {
  display: flex;
  font-size: 40px;
  padding-left: 2rem;
  margin-top: 6rem;
}

div.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.get-started {
  font-size: 30px;
  border: none;
  background-color: rgb(31, 19, 19);
  color: saddlebrown;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

button.get-started:hover {
  transform: scale(1.15);
  cursor: pointer;
  color: darksalmon;
}

h1.heading {
  padding: 1rem;
}

/* BUTTONS */

button.transfer {
  border: none;
  background-color: darkgrey;
  padding: 0.3rem 3rem;
  border-radius: 0.2rem;
  transition: all 0.2s;
}

button.transfer:hover {
  cursor: pointer;
  background-color: rgba(24, 172, 10, 0.589);
  transform: scale(1.05);
}

.img-png {
  transition: all 0.3s;
}
.img-png:hover {
  transform: scale(1.1);
}


a.a_link{
	text-decoration: none;
	color:black;
	
	
}


